

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

.container{





margin-top: 100px; 




}
h2{

    color : red; 
    text-align: center;
}

p{

  
    text-align: center;
}

form{

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding : 20px;
    border-radius: 20px;
    margin-top: 30px;
}
.form-group input{

    border-radius: 50px;
}

.form-group textarea{

    border-radius: 20px;
}

.form-control option{

    border-radius: 50px;
}