<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="Stylesheet/Teacher.css" > 

</head>
<body>

   <div class="container">

 
      <h2> Teacher Registration Form  </h2>
    
    <form method="post" action="/Teacher">
        <div class="form-group">
          <label for="Name">Teacher Name</label>
          <input type="text" class="form-control" id="Name"  name="Name">       
        </div>

        <div class="form-group">
            <select class="form-control" id="Designation" name="Designation" >
              <option value="">Select Designation</option>
              <option value="Bengali">Bengali</option>
              <option value="English">English</option>
              <option value="Math">Math</option>
              <option value="Arabic">Arabic</option>
            </select>

          </div>
       
          <div class="form-group">
            <label for="Mobile">Mobile</label>
            <input type="number" class="form-control" id="Mobile"  name="Mobile">       
          </div>

        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>


</body>
</html>