<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  
  <style> 
  
  body {
  background: #f7f7f7;
  font-family: 'Arial', sans-serif;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-weight: bold;
  color: #333;
}

.form-control {
  border-radius: 30px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 30px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

  
  
  </style> 
  
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h3 class="card-title text-center">Login</h3>
            <form method="post">
              <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" class="form-control" id="Username" placeholder="Enter Username" required name="Username" >
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required name="Password">
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
              <div class="text-center mt-3">
                <p>Don't have an account? <a href="/Student_Registration_2024">Sign Up</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
