<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note-Taking Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body {
            background-color: #f8f9fa;
        }

        header {
            background: linear-gradient(90deg, #282C34, #2C3E50);
        }

        header h1 {
            font-size: 1.8rem;
            color: white;
        }

        .user-profile img {
            border: 2px solid #fff;
        }

        .user-profile {
            display: flex;
            align-items: center;
        }

        .user-profile a {
            margin-left: 15px;
            text-decoration: none;
        }

        .user-profile .btn {
            font-size: 1.2rem;
            color: white;
        }

        header .navbar-brand {
            color: white;
            font-weight: bold;
            font-size: 1.8rem;
        }

        header .navbar-brand span {
            font-weight: bold;
        }

        @media(max-width: 576px) {
            .user-profile img {
                width: 40px;
                height: 40px;
            }

            header .navbar-brand {
                font-size: 1.5rem;
            }

            .user-profile .btn {
                font-size: 1rem;
            }
        }
    </style>
</head>

<body>

    <header class="bg-dark text-white py-3">
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="#">
                <span style="color: #00B74A;">Note</span><span style="color: #FFD700;">Master</span>
            </a>
            <div class="user-profile">
                <a href="/user-dashboard/profile" style="text-decoration: none;">
                    <img src="https://media.istockphoto.com/id/1495088043/vector/user-profile-icon-avatar-or-person-icon-profile-picture-portrait-symbol-default-portrait.jpg?s=612x612&w=0&k=20&c=dhV2p1JwmloBTOaGAtaA3AW1KSnjsdMt7-U_3EZElZ0="
                        class="rounded-circle" alt="User" width="50" height="50">
                </a>
                <a href="/logout" class="btn btn-outline-light">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        </div>
    </header>
</body>

</html>